
/* --------------------------------  common styles and utilities ----------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* --------------------------  styles of header section started ------------------------------ */
.head-section{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container-of-title-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    width: 1143px;
    height: 436px;
    margin-bottom: 50px;
}

.heading-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.head-paragraph a{
    text-decoration: none;
    color: #FFFFFF;
    width: 120px;
    height: 24px;
    margin: 0px;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-align: center;
    transition: 2s;
}


.head-paragraph a:hover{
    color: #E02C6D;
    background-color: #FFFFFF;
    cursor: pointer;
}

.icon-style{
    padding-left: 8px;
}

.banner img{
    width: 556px;
    height: 438px;
}

.banner:hover {
    transform:  scale(1.2) rotate(360deg);
    transition: transform 3s;
}

/*-------------------------------------------------- main section style -------------------------------------------- */
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

/* -------------------------------- This section  style is for top players --------------------------------*/

.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player-profile{
    width: 300px;
    height: 426px;
    padding: 15px 15px 30px 15px;
    box-shadow: 5px 5px 5px lightgray;
}
.player-image{
    width: 300px;
    height: 256px;
}
.player-info h3{
    color: #18191F;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info p{
    width: 300px;
    height: 104px;
    color: #6C6C6C;
    font-weight: 500;
    font-size: 16px;
}

/* ----------------------------------Top players stylesheet ended -------------------------------*/

/*---------------------------------- This section style is for freekick footage --------------------------------*/

.awesome-footage{
    padding-bottom: 20px;
    margin: 160px 0px;
    box-shadow: 5px 5px 5px lightgray;
}

.container-of-details-footage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 40px;
}
.video-size{
    width: 500px;
    height: 300px;
}

/*--------------------------------------- Freekick footage ended --------------------------------------- */

/*------------------------------------------ animation part ------------------------------------ */
.ball{
    position: relative;
    bottom: 100px;
    left: 228px;
}
.ball img{
    width: 50px;
    height: 50px;
}
.container-of-post-ball{
    overflow: hidden;
}
.container-of-post-ball:hover .post{
    transform: scale(1.2);
    transition: transform 3s ease-out 1s;
}
.container-of-post-ball:hover .ball{
    transform: translate(-100px, -190px);
    transition: transform 3s ease-out 1s;
}




/*-------------------------------------------- animation part ended --------------------------------*/

/* -------------------------------------------------- footer style ------------------------------------------------  */
footer{
    display: flex;
    justify-content: center;
}

.footer-section{
    display: flex;
    flex-direction: column;
    width: 484px;
    height: 213px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.font-awesome{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 14px;
    font-size: 32px;
}
.font-awesome a{
    text-decoration: none;
    color: #969BAB;
}

.footer-banner img{
    width: 484px;
    height: 110px;
}

/* -------------------------------------------------- meadia query started here ---------------------------------------------------- */



/* ----------------------------------  responsive when devices maximum width is 668px     ------------------------------*/
@media only screen and (max-width: 688px) { 
    .head-section{
        display: flex;
        background-color: #2D25A0;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
    .container-of-title-img{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 100px;
        padding-left: 16px;
        margin-bottom: 200px;
    }
    .website-title{
        width: 278px;
        height: 212px;
    }
    .heading-title{
        font-size: 36px;
    }
    .banner img{
        width: 329px;
        height: 259px;
    }
    .banner:hover {
        transform: rotate(360deg);
        transition: transform 3s;
    }
    .top-players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .awesome-footage{
        width: 100%;
        margin: 50px 0;
    }
    .container-of-details-footage{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        align-items: center;
    }
    .footage-details{
        width: 100%;
        text-align: center;
    }
    .footage{
        display: flex;
        justify-content: center;
    }
    .video-size{
        width: 350px;
        height: 300px;
    }
    .footer-section{
        margin-top: 20px;
        display: flex;
    }
    .font-awesome{
        font-size: 16px;
    }
    .footer-banner img{
        width: 220px;
        height: 40px;
    }
}

/* ----------------------------------------- responsive for table devices ------------------------------------- */

@media only screen and (min-width: 669px) and (max-width: 992px) {
    .head-section{
        display: flex;
        background-color: #2D25A0;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    .container-of-title-img{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 100px;
        padding-left: 40px;
        margin-bottom: 400px;
    }

    .heading-title{
        font-size: 50px;
    }
    .banner img{
        width: 629px;
        height: 459px;
    }
    .banner:hover {
        transform: rotate(360deg);
        transition: transform 3s;
    }
    .container-of-details-footage{
        grid-column-gap: 20px;
    }
    .video-size{
        width: 400px;
        height: 400px;
    }
    .top-players{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-section{
        display: flex;
        margin-top: 50px;
    }
    .footer-banner img{
        width: 520px;
        height: 120px;
    }
    
}